
.center{
  justify-content: center;
  align-items: center;
  display: flex;
}
.main-div{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-card {
  max-width: 1000px;
}
.mat-card {
  margin-top: 350px;

}
