  <mat-list-item class="center main-div">

    <mat-card *ngIf="aQuiz" class="example-card">
      <mat-card-header>
        <div *ngIf="distance>0">
          Ce jeu commence dans : {{ distance }} s
        </div>
        <div *ngIf="distance<0 && canPlay!='done'">
          Jeu commencé !
        </div>
        <div *ngIf="timeLeft>0">
          Il vous reste {{timeLeft}} s
        </div>
        <mat-card-title>{{aQuiz.name}}</mat-card-title>
        <mat-card-subtitle >{{aQuiz.duration}} minute<span *ngIf="aQuiz.duration>1">s </span></mat-card-subtitle>
      </mat-card-header>
      <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p *ngIf="canPlay=='false'">
          {{aQuiz.description}}
        </p>
        <p *ngIf="canPlay=='eliminated'">
          Trop tard !
        </p>
        <p *ngIf="canPlay=='done'">
            Le jeu est terminé !
        </p>
        <p *ngIf="canPlay=='true'">
        <app-play-game  [game]="aQuiz"></app-play-game>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card-actions *ngIf="canPlay=='true'">
      <button (click)="finish()" mat-raised-button color="primary">Soumettre</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="canPlay=='done'">
     <button *ngIf="score" mat-fab >{{score}} !</button>
    </mat-card-actions>
  </mat-list-item>


<span>
  <p *ngFor="let player of players">{{player.firstname}} {{player.lastname}} a rejoint le quizz !</p>

</span>
