<mat-toolbar class="mat-elevation-z6" color="primary">
  <span>Quizz App</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>


  <span *ngIf="!appUser"><span style="cursor: pointer" (click)="redirectToLogin()">connexion</span>
  </span>
  <span *ngIf="isAdmin">
    <button mat-button>Administrer</button>
  </span>
  <span style="cursor: pointer" *ngIf="appUser">
     <mat-icon mat-button [matMenuTriggerFor]="menu">person</mat-icon>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>{{appUser.mail}}</button>
    <button mat-menu-item (click)="logout()">déconnexion</button>
   </mat-menu>
  </span>
</mat-toolbar>
