<app-toolbar></app-toolbar>
<router-outlet></router-outlet>
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div class="chat-container">
    <div class="chat">
      <div class="message">
        <div *ngIf="greetings">
          <p *ngFor="let greet of greetings">
            {{greet}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="send-button">

    <div class="send" (click)="sendMessage()">
    </div>
    <input  id="message" [(ngModel)]="message" name ="message" type="text" #input>
  </div>

</div>
-->
