<form  (ngSubmit)="saveQuiz()" #questionForm="ngForm">
  <mat-form-field class="example-container">
    <input matInput placeholder="nom" required [(ngModel)]="quiz.name" name="name" >
  </mat-form-field >
  <mat-form-field class="example-container">
    <input matInput placeholder="description" required [(ngModel)]="quiz.description" name="description" >
  </mat-form-field >
  <mat-form-field class="example-container">
    <input matInput placeholder="durée en minutes" type="number" required  [(ngModel)]="quiz.duration" name="duration">
  </mat-form-field >
  <mat-grid-list cols=4 rowHeight="40px">
    <mat-grid-tile
      [colspan]=2
      [rowspan]=1>
    Questions disponibles
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]=2
      [rowspan]=1 >
      Questions choisies pour le quiz
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]=2
      [rowspan]=1>
      <mat-form-field>
      <input matInput placeholder="recherche par thème" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText" >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]=2
      [rowspan]=1 >
    </mat-grid-tile>

  </mat-grid-list>
  <div *ngIf="allQuestions" id="textbox">
    <p class="alignleft"><mat-list role="list">
      <mat-list-item *ngFor="let aQuestion of allQuestions | filter: searchText"  role="listitem">
        <span style="cursor: pointer" (click)="addQuestionToQuiz(aQuestion)"  matTooltip="{{aQuestion.rightAnswer.label}}"  matTooltipPosition="right">{{aQuestion.label}} ({{aQuestion.theme}})</span>
      </mat-list-item>
    </mat-list></p>
    <p class="aligncenter"><mat-icon >arrow_forward</mat-icon></p>
    <p class="alignright">
      <mat-list style="text-align: right" role="list" *ngIf="quizQuestions">
      <mat-list-item *ngFor="let quizQuestion of quizQuestions" role="listitem">
        <span style="cursor: pointer" (click)="removeQuestion(aQuestion)" matTooltip="{{quizQuestion.rightAnswer.label}}"  matTooltipPosition="right">{{quizQuestion.label}} ({{quizQuestion.theme}})</span>
      </mat-list-item>
    </mat-list></p>
  </div>
  <div style="clear: both;"></div>
  <br>
  <button   mat-raised-button color="primary">Créer</button>
</form>
