<form  (ngSubmit)="submitQuizForm()" #questionForm="ngForm">
  <mat-form-field class="example-container">
    <input matInput placeholder="nom" required [(ngModel)]="quiz.getName" name="name" >
  </mat-form-field >
  <mat-form-field class="example-container">
    <input matInput placeholder="description" required [(ngModel)]="quiz.getDescription" name="description" >
  </mat-form-field >
  <mat-form-field class="example-container">
    <input matInput placeholder="durée en minutes" type="number" required  [(ngModel)]="quiz.getDuration" name="duration">
  </mat-form-field >
  <mat-grid-list cols=4 rowHeight="40px">
    <mat-grid-tile
      [colspan]=2
      [rowspan]=1>
    Questions disponibles
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]=2
      [rowspan]=1 >
      Questions choisies pour le quiz
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]=2
      [rowspan]=3>
      <mat-list role="list">
        <mat-list-item *ngFor="let aQuestion of allQuestions" role="listitem">{{aQuestion.label}}</mat-list-item>
        <mat-list-item  role="listitem">nooo</mat-list-item>
    {{watch}}
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]=2
      [rowspan]=3 >
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>


  <br>
  <button  mat-raised-button color="primary">Créer</button>
</form>
